
<p>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Sporting Goods">Sporting Goods</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Appliances">Appliances</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Tools">Tools</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Games">Games</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Music">Music</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Health">Health</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Outdoors">Outdoors</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Beauty">Beauty</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Shoes">Shoes</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Automotive">Automotive</a>
    <a class="btn btn-link" asp-controller="Products" asp-action="Index" asp-route-filter="Show All">Show All</a>
</p>

